@*@QnSBaseCode*@
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.Rendering
@using QuickNSmart.AspMvc.Modules.Session
@*Begin:Header*@
@{
#if DEBUG
    string currentView = ((RazorView)ViewContext.View).Path;
    string beginLabel = $"<!--View Begin: '{currentView}'-->";
    @Html.Raw(beginLabel)
#endif
    SessionWrapper sessionWrapper = new SessionWrapper(Context.Session);
    Func<string, string, string> translate2 = sessionWrapper.Translate;
}
@*End:Header*@
@{
    var title = translate2("Privacy.Page", "Privacy Policy Page");

    ViewData["Title"] = title;
}

<div class="text-center">
    <h1 class="display-4">@translate2("Privacy.Welcome", "Privacy Policy")</h1>
    <p></p>
    <h4>@translate2("Home.Welcome.Text", "to the QuickNSmart")</h4>
    <p></p>
    <p>@translate2("Home.Text", string.Empty)</p>
</div>

@*Begin:Footer*@
@{
#if DEBUG
    string endLabel = $"<!--View Ende: '{currentView}'-->";

    @Html.Raw(endLabel)
#endif
}
@*End:Footer*@
