@*@QnSBaseCode*@
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.Rendering
@using QuickNSmart.AspMvc.Modules.Session
@model QuickNSmart.AspMvc.Models.Persistence.Account.Identity
@*Begin:Header*@
@{
#if DEBUG
    string currentView = ((RazorView)ViewContext.View).Path;
    string beginLabel = $"<!--View Begin: '{currentView}'-->";
    @Html.Raw(beginLabel)
#endif
    SessionWrapper sessionWrapper = new SessionWrapper(Context.Session);
    Func<string, string> translate = sessionWrapper.Translate;
}
@*End:Header*@
@{
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string action = ViewContext.RouteData.Values["action"].ToString();
    Func<string, string> translateFor = pn => translate($"{controller}.{pn}");
}

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @translateFor(nameof(Model.Guid))
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Guid)
        </dd>
        <dt class="col-sm-3">
            @translateFor(nameof(Model.Name))
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @translateFor(nameof(Model.Email))
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3">
            @translateFor(nameof(Model.EnableJwtAuth))
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EnableJwtAuth)
        </dd>
        <dt class="col-sm-3">
            @translateFor(nameof(Model.AccessFailedCount))
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>
        <dt class="col-sm-3">
            @translateFor(nameof(Model.State))
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
</div>

@*Begin:Footer*@
@{
#if DEBUG
    string endLabel = $"<!--View Ende: '{currentView}'-->";

    @Html.Raw(endLabel)
#endif
}
@*End:Footer*@
