@*@QnSBaseCode*@
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.Rendering
@using QuickNSmart.AspMvc.Modules.Session
@model QuickNSmart.AspMvc.Models.SubmitCmd
@*Begin:Header*@
@{
#if DEBUG
    string currentView = ((RazorView)ViewContext.View).Path;
    string beginLabel = $"<!--View Begin: '{currentView}'-->";
    @Html.Raw(beginLabel)
#endif
    SessionWrapper sessionWrapper = new SessionWrapper(Context.Session);
    Func<string, string> translate = sessionWrapper.Translate;
}
@*End:Header*@
@{
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    Func<string, string> translateFor = pn => translate($"{controller}.{pn}");
}

<div class="d-flex bg-transparent">
    @if (Model.RightAlign)
    {
        <div class="mr-auto"></div>
    }
    <div class="p-sm-2">
        <input type="submit" value="@translateFor(Model.SubmitText)" class="@Model.SubmitCss" style="@Model.SubmitStyle" />
    </div>
</div>

@*Begin:Footer*@
@{
#if DEBUG
    string endLabel = $"<!--View Ende: '{currentView}'-->";

    @Html.Raw(endLabel)
#endif
}
@*End:Footer*@
