@*@QnSBaseCode*@
@using Microsoft.AspNetCore.Mvc.Razor
@using QuickNSmart.AspMvc.Modules.Session
@model QuickNSmart.AspMvc.Models.Modules.Export.ImportProtocol
@*Begin:Header*@
@{
#if DEBUG
    string currentView = ((RazorView)ViewContext.View).Path;
    string beginLabel = $"<!--View Begin: '{currentView}'-->";
    @Html.Raw(beginLabel)
#endif
}

@{
    SessionWrapper sessionWrapper = new SessionWrapper(Context.Session);
    Func<string, string> translate = sessionWrapper.Translate;
}
@*End:Header*@
@{
    string title = translate("Import");

    ViewData["Title"] = title;
}

<h1>@title</h1>

@if (Model.HasError)
{
    <span class="field-validation-error" data-valmsg-for="Error" data-valmsg-replace="true">@Model.ActionError</span>
}

<form id="form" asp-action="Import" asp-controller="Translation" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label">@translate("Importfile")</label>
        <input asp-for="FilePath" class="form-control-file btn btn-outline-secondary" type="file" />
    </div>
    @await Html.PartialAsync("_SubmitBack", new SubmitBackCmd() { SubmitText = translate("Import"), BackController = "Home" })
</form>

<div id="progress" class="progress" style="visibility: hidden;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
</div>

@if (Model.LogInfos != null)
{
    foreach (var logInfo in Model.LogInfos)
    {
        string text = $"{logInfo.Prefix}: {logInfo.Text}";
        <dl class="dl-horizontal">
            @if (logInfo.IsError)
            {
                <dd style="color: red;">@text</dd>
            }
            else
            {
                <dd>@text</dd>
            }
        </dl>
    }
}

@*Begin:Footer*@
@{
#if DEBUG
    string endLabel = $"<!--View Ende: '{currentView}'-->";

    @Html.Raw(endLabel)
#endif
}
@*End:Footer*@

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $("#form").submit(function () {
                $('#progress').css({ visibility: "visible" });
            });
        });
    </script>
}
