@*@QnSBaseCode*@
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.Rendering
@using QuickNSmart.AspMvc.Modules.Session
@model QuickNSmart.AspMvc.Models.Persistence.Account.Role
@*Begin:Header*@
@{
#if DEBUG
    string currentView = ((RazorView)ViewContext.View).Path;
    string beginLabel = $"<!--View Begin: '{currentView}'-->";
    @Html.Raw(beginLabel)
#endif
    SessionWrapper sessionWrapper = new SessionWrapper(Context.Session);
    Func<string, string> translate = sessionWrapper.Translate;
}
@*End:Header*@

@{
    string title = Model.Id == 0 ? "Create" : "Edit";

    title = translate(title);
    ViewData["Title"] = title;
}

<h1>@title</h1>

<form asp-action="Edit">
    <div class="d-flex bg-transparent">
        <div class="p-sm-2 mr-auto">
            <h4>Role</h4>
        </div>
    </div>
    <hr />
    @if (Model.HasError)
    {
        <span class="field-validation-error" data-valmsg-for="Error" data-valmsg-replace="true">@Model.ActionError</span>
    }
    <div class="row">
        <div class="col-md-8">
            <input asp-for="Id" type="hidden" />
            <input asp-for="Timestamp" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="d-flex bg-transparent">
        <div class="p-sm-2">
            <a asp-action="Index" class="btn btn-outline-dark" style="min-width: 8em;">@translate("Back to List")</a>
        </div>
        <div class="p-sm-2">
            <input type="submit" value="@translate("Save")" class="btn btn-primary" style="min-width: 8em;" />
        </div>
    </div>
</form>
@*Begin:Footer*@
@{
#if DEBUG
    string endLabel = $"<!--View Ende: '{currentView}'-->";

    @Html.Raw(endLabel)
#endif
}
@*End:Footer*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
