@*@QnSBaseCode*@
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.Rendering
@using QuickNSmart.AspMvc.Modules.Session
@model QuickNSmart.AspMvc.Models.Business.Account.AppAccess
@*Begin:Header*@
@{
#if DEBUG
    string currentView = ((RazorView)ViewContext.View).Path;
    string beginLabel = $"<!--View Begin: '{currentView}'-->";
    @Html.Raw(beginLabel)
#endif
    SessionWrapper sessionWrapper = new SessionWrapper(Context.Session);
    Func<string, string> translate = sessionWrapper.Translate;
}
@*End:Header*@
@{
    string title = translate("Delete");

    ViewData["Title"] = title;
}

<h1>@title</h1>

<form asp-action="Delete" method="post">
    <div class="row">
        <div class="col-sm-8">
            <h4>Identity</h4>
        </div>
        <div class="col-sm-4">
            <a asp-action="Index" class="btn btn-outline-dark" style="min-width: 8em;">Back to List</a>
            <input type="submit" value="Delete" class="btn btn-danger" style="min-width: 8em;" />
        </div>
    </div>
    <hr />

    @if (Model.HasError)
    {
        <span class="field-validation-error" data-valmsg-for="Error" data-valmsg-replace="true">@Model.ActionError</span>
    }
    else
    {
        <h3>@translate("Are you sure you want to delete this?")</h3>
    }
    <div style="margin-top: 1em;">
        @await Html.PartialAsync("IdentityDetails", Model.Identity)
    </div>
</form>

<div style="margin-top: 1em;">
    <h4>Rolen</h4>
    @await Html.PartialAsync("RoleListDetails", Model.Roles)
</div>
@*Begin:Footer*@
@{
#if DEBUG
    string endLabel = $"<!--View Ende: '{currentView}'-->";

    @Html.Raw(endLabel)
#endif
}
@*End:Footer*@
